
.section-2 {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* align-items: center; */
}

.img-area {
    width: 100%;

}

.img-area img {
    width: 100% ;
    display: block;
    height: 600px;
}

.text-area{
    width: 100%;
    padding: 50px ;
    background: rgb(22, 22, 22);
    color: white;
    text-align: center;
}

.text-area h1 {
    color: rgb(225, 243, 61);
    letter-spacing: 5px;
    font-size: 50px;
    font-weight: 500;
}

.text-area p {
    line-height: 30px;
    padding: 10px 60px;
    font-size: 19px;
}

.text-area p span {
    color: rgb(225, 243, 61);
    font-weight: bold;
    cursor: pointer;
}

.icons-2 img{
    margin: 10px;
    cursor: pointer;
    width: 30px;
}

.icons-2 img:hover {
    scale:1.3;
}